@font-face {
  font-family: "iconfont"; /* Project id 4769735 */
  src: url('//at.alicdn.com/t/c/font_4769735_m7b8hu11ch.ttf?t=1733293092891') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-daoru:before {
  content: "\e664";
}

.icon-daochu:before {
  content: "\e6a2";
}

.icon-tongzhi:before {
  content: "\e667";
}

.icon-shanchu:before {
  content: "\e60b";
}

.icon-yonghu:before {
  content: "\e650";
}

.icon-guanyuwomen:before {
  content: "\e654";
}

.icon-sousuo:before {
  content: "\e600";
}

.icon-xinzeng:before {
  content: "\e619";
}

.icon-bianji:before {
  content: "\e6ae";
}

.icon-caidanlan-caigou-gongyingshangguanli:before {
  content: "\e602";
}

.icon-caidanlan-kucun-cangkuxinxishezhi:before {
  content: "\e601";
}

.icon-caidanlan-chanpin-chanpinfenleishezhi:before {
  content: "\e603";
}

.icon-caidanlan-shengchan-paigongdan:before {
  content: "\e604";
}

.icon-icon-fangda:before {
  content: "\e629";
}

.icon-suoxiao:before {
  content: "\e6bb";
}
